<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <br>
                <ul class="nav navbar-nav me-auto mb-2 mb-lg-2">
                    <li class="nav-item">
                        <a class="btn btn-primary phase" aria-current="page" routerLink="/phase1">🔥 FASE 1 - Introducción a .NET</a>
                    </li>
                    <li class="nav-item"><a class="btn btn-primary phase" routerLink="/phase2">🔥 FASE 2 - SQL Avanzado</a></li>
                    <li class="nav-item"><a class="btn btn-primary phase" routerLink="/phase3">🔥 FASE 3 - Cloud + DevOps</a></li>
                    <li class="nav-item"><a class="btn btn-primary phase" routerLink="/phase4">🔥 FASE 4 - Arquitectura Moderna</a></li>
                    <li class="nav-item"><a class="btn btn-primary phase" routerLink="/phase5">🔥 FASE 5 - Extras</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>