<header>
    <nav class="d-flex justify-content-center">
        <ul class="nav">
            <li class="nav-item"><a class="btn btn-primary phase" routerLink="/phase1">🔥 FASE 1 - Introducción a .NET</a></li>
            <li class="nav-item"><a class="btn btn-primary phase" routerLink="/phase2">🔥 FASE 2 - SQL Avanzado</a></li>
            <li class="nav-item"><a class="btn btn-primary phase" routerLink="/phase3">🔥 FASE 3 - Cloud + DevOps</a></li>
            <li class="nav-item"><a class="btn btn-primary phase" routerLink="/phase4">🔥 FASE 4 - Arquitectura Moderna</a></li>
            <li class="nav-item"><a class="btn btn-primary phase" routerLink="/phase5">🔥 FASE 5 - Extras</a></li>
        </ul>
    </nav>
</header>